.detail-body-container-main {
  align-items: center;
  color: wheat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

th {
  background-color: #e2cee5;
  border: 2px solid #333;
  border-radius: 12px;
  color: #232323;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0.5em 55px 12px 16px;
  text-align: center;
}

td {
  border: 1px dashed #232323;
  border-radius: 12px;
  color: #232323;
  font-size: 20px;
  font-weight: 700;
  padding: 0.5em 10px 8px 9px;
  text-align: center;
}

tr {
  background-color: #ffff80;
}
