* {
  margin: 0;
  padding: 0;
}

.login-container-main {
  align-items: center;
  border: 2px solid #333;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.login-container-conteudo {
  align-items: center;
  border: 2px solid #333;
  border-radius: 12px;
  color: #F16529;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: 700;
  height: 40vh;
  justify-content: space-around;
  width: 20%;

}

.login-container-tech {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

input {
  border-radius: 12px;
  height: 4.5vh;
  width: 220px;
}

img {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

button {
  background-color: #7E57C2;
  border-radius: 12px;
  color: #333;
  font-size: 18px;
  font-weight: 800;
  height: 5vh;
  width: 200px;
}

